fastapi
uvicorn

pydantic
python-multipart

numpy
faiss-cpu==1.13.2

sentence-transformers==3.0.1
transformers==4.44.2
torch==2.4.1

openai
google-generativeai

requests
beautifulsoup4
pypdf

python-dotenv
